.card__image {
  display: block;
  height: 282px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.card__image:hover {
  cursor: pointer;
}

.card__image {
  width: 100%;
  height: 282px;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

